@use '../../../../scss/' as *;

.poster-container {
 
  .movie-card {
    position: relative;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 160%;
    border-radius: $border-radius;
    margin-bottom: 1rem;
    margin-right: 15px;
    margin-top: 15px;
    cursor: pointer;
  
    &:hover {
      transform: scale(1.08);
      transition: ease-out 300ms;
      border-radius: $border-radius;
    }
  }
}


.vote-average {
  display: inline-block;
  background-color: darkslategrey;
  padding: 0 8px;
  margin-left: 4px;
}

.icon-fav {
 width: 10%;
}





