.register-form {
    text-align: center;

    .lock-avatar {
        background-color: #e50914;
        margin: 1rem auto;
    }

    .title {
        color: #000000;
    }

    .button {
        margin-top: 2rem;
    }
}